// src/styles/_variables.scss
$primary-color: white;
$secondary-color: #eaeaea;
$accent-color: #42b883;
$accent-color-secondary: #27684b;
$highlight-color: #fd814c;

$font-stack: 'Roboto', sans-serif;
$font-big: 2rem;
$font-plus: 1.3rem;
$font-normal: 1rem;
$font-minus: 0.8rem;
$bg-color-primary: #1B1E22;
$bg-color-secondary: #2b2b2b;

$box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
$box-shadow-accent: 0 0 15px rgba(66, 184, 131, 0.3);
$bg-blur: rgba(0, 0, 0, 0.3);

@mixin bg-blur {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* для Safari */
  background: rgba(27, 30, 34, 0.7);
}
